
* {
	margin: 0;
	padding: 0;
	
}

header {
	width:97.5%;
	height:40px;
	background-color: black;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border:3px solid black;
}

nav ul {
	list-style: none;
	display: flex;
	border:3px solid black;
}

nav li {

	padding-right:35px;
	font-family: Arial, sans-serif;
}
nav ul li a{
	font-size:1.2em;
	font-family: 'poppins',sans-serifs;
	font-weight:1000
}
nav ul li{
position:relative;
}
nav ul li::after{
content:"";
height:2.5px;
width:0;
background:#009688;
position:absolute;
left:0;
bottom:-7px;
transition:0.5s;	
}
nav ul li:hover::after{
	width:80%;
	
}
nav a {
	color: #fff;
	text-decoration: none;
}
#photo{
	width:100%;
	height:600px;
}
#photo img{
	width:100%;
	height:100%;
	display:flex;
	display:inline-block;
}
#shoping{
	width:100%;
	height:60px;
	position:relative;
}
#shoping h2{
 color:white;
 background-color:black;
 padding-top:5px;
 padding-left:15px;
 padding-bottom:5px;
 font-family:Georgia;
}
#shoping input{
	float:right;
	padding-right:20px;
	padding-top:2px;
	margin-top:3.5px;
    margin-right:10px;
	font-family:italic;
	color:black;
	font-size:1.5em;
}
#items{
	width:100%;
	height:260px;
}
#items img{
	width:24%;
	height:100%;
	padding-top:20px;
	
	
}
#values{
	width:100%;
	height:100px;
}
#values ul li{
	width:24%;
	height:50px;
	padding-top:15px;
	text-align:center;
	display:inline-block;
	
}
#values ul li a{
	text-decoration:none;
	color:red;
}
#stuffs{
	width:100%;
	height:260px;	
}
#stuffs img{
	width:24%;
	height:100%;
	display:inline-block;
	margina:auto;
}
#value123 ul li{
	width:24%;
	height:50px;
	padding-top:15px;
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
}
footer{
	width:100%;
	height:300px;
	background:#C0C0C0;
	border-top:1px solid black;
}
#info{
	width:100%;
	height:100%;
	text-align:center;
}
#info tr td:hover{
	color:blue;
}

